<div class="Comment-field">
  <%= label_tag "Comment Title: " %>
  <%= text_field_tag :title, @link.title %>
</div>

<div class="Comment-field">
  <%= label_tag "URL: " %>
  <%= url_field_tag :url, @comment.url %>
</div>

<%= hidden_field_tag :user_id, 1 %>

<%= submit_tag "Be adored!" %>