<h2>Discuss This Link</h2>
<h3>Posted on: <%= @link.created_at %></h3>

<div class="the-link">
  <%= link_to( @link.title, @link.url ) %>
</div>

<div class="comments">
  <h3>Link Comments</h3>
  <% @link.comments.each do |comment| %>
    <div class="comment" style="border: solid black 1px;">
      <%= simple_format( comment.body ) %>
      <em>From: <%= comment.user.name %></em><br />
      <em>Written: <%= time_ago_in_words(comment.created_at) %> ago</em>
    </div>
  <% end %>
</div>

<div class="link-comment-form">
  <h3>Add a comment</h3>
  <%= form_tag(comments_path) do %>
    <%= label_tag "Your Comment: " %>
    <%= text_area_tag :comment, nil, cols: 50, rows: 10 %>
    <%= submit_tag "Add Your Comment" %>
  <% end %>
</div>