<h2>Discuss This Link</h2>
<h3>Posted on: <%= @link.created_at %></h3>

<div class="the-link">
  <%= link_to( @link.title, @link.url ) %>
</div>

<div class="link-comment-form">
  <h3>Add a comment</h3>
  <%= form_tag(comments_path) do %>
    <%= label_tag "Your Comment: " %>
    <%= text_area_tag :comment, nil, cols: 50, rows: 10 %>
    <%= submit_tag "Add Your Comment" %>
  <% end %>
</div>